* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}



/* HEADER CONTENT */
header {
    width: 100%;
    background-color: rgba(58, 58, 58, 1);
    position: sticky;
    z-index: 100;
    top: 0;
    margin-bottom: 40px;
}
.header__container {
    max-width: 1310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px 15px;
}
.logo img {
    width: 150px;
    cursor: pointer;
}
.navUl {
    display: flex;
    gap: 45px;
    align-items: center;
    font-size: 14px;
}
.navUl .navHeader{
    transition: 0.3s;
    color: white;
}
.navUl .navHeader:hover{
    transition: 0.3s;
    scale: 1.07;
    color: rgb(168, 222, 168);
}
.searchAndBasket {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}
.searchAndBasket img {
    width: 20px;
    cursor: pointer;
}
.burger {
    position: relative;
    flex-direction: column;
    display: none;
    width: 20px;
    height: 17px;
    flex-direction: column;
    justify-content: space-between;
}
.burger div {
    transition: .3s;
    background-color: white;
    width: 100%;
    height: 3px;
    border-radius: 4px;
}

.btn {
    position: absolute;
    top: 0;
    width: 20px;
    height: 17px;
    background-color: inherit;
    border: none;
    z-index: 100;
}
.menu {
    display:none;
}



.menu__ul li a {
    transition: .3s;
}
.menu__ul li a:hover {
    color: rgb(71, 175, 71);
    transition: .3s;
}
.lineInoutNav {
    width: 100%;
    height: 1px;
    background: white;
    margin: 5px auto;
    opacity: 0.5;
}

/* MAIN CONTENT*/
/* SECTION 1 */
main {
    max-width: 1280px;
    margin: 0 auto 30px auto;
    padding: 0 15px;
}
section {
    margin-bottom: 40px;
}
.sectionUnderHeader {
    background-color: rgba(202, 228, 219, 1);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 40px;
}
.sectionUnderHeader img {
    width: 45%;
}
.flexBlock {
 display: flex;
 align-items: center;
}
.infoBlock {
    width: 100%;
}
.infoBlock__title {
    font-size: 53px;
    font-weight: 400;
    word-spacing: 1px;
    margin-bottom: 20px;
    width: 100%;
}
.infoBlock__subtitle {
    font-size: 16px;
    word-spacing: 3px;
    margin-bottom: 20px;
}
.explore {
    cursor: pointer;
    background-color: inherit;
    color: black;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px 40px;
    font-size: 14px;
    transition: 0.3s;
}
.explore:hover {
    scale: 1.08;
    transition: 0.3s;
}

/* SECTION 2 */
.categories__infoText {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.categories__title {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}
.categories__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
}
.item {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgb(147, 191, 147);
    transition: 0.3s;
}
.item:hover {
    box-shadow: 0px 0px 15px 5px rgb(142, 190, 142);
    transition: 0.3s;
    scale: 1.03;

}
.categories__BlocksItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.leftBlock {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
}

 /* MACBOOK */
.leftBlock__macbook {
    padding: 0px 30px;
    text-align: right;
}
.leftBlock__macbook img {
    width: 100%;
}
.macBook__title {
    font-size: 13px;
    margin-bottom: 5px;
}
.macBook__subtitle {
    font-size: 25px;
    font-weight: 400;
}

/* WATCH */
.leftBlock__watch {
    padding: 0px 30px;
    display: flex;
    align-items: center;
}
.blockImg__watch {
    width: 100%;
}
.blockImg__watch img {
    width: 100%;
}
.watch__title {
    font-size: 13px;
    margin-bottom: 5px;
}
.watch__subtitle {
    font-size: 25px;
    font-weight: 400;
}
.leftBlock__text {
    width: 70%;
    text-align: right;
}

/* IPHONES */
.rightBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.rightBlock__iPhone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.iPhoneImg img {
    width: 100%;
    margin-bottom: 50px;
}
.iPhone__title {
    font-size: 13px;
    margin-bottom: 5px;
}
.iPhone__subtitle {
    font-size: 25px;
    font-weight: 400;
}

/* IPAD */
.rightBlock__iPad {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.iPad__title {
    font-size: 13px;
    margin-bottom: 5px;
}
.iPad__subtitle {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
}
.rightBlock__iPad img {
    width: 100%;
}


/* SECTION 3 */
.selledItem__infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selledItem__title {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}
.selledItem__subtitle {
    font-size: 14px;
    margin-bottom: 40px;
}
.selledItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}
.itemInSelledSection {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}
.itemInSelledSection:hover {
    box-shadow: 0px 0px 15px 3px rgb(147, 191, 147);
    transition: 0.3s;
    scale: 1.1;
}
.itemImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.itemImg img {
    width: 80%;
}
.itemTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.itemSubtitle {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20px;
}
.itemPrice {
    font-weight: 400;
    font-size: 16px;
}


/* SECTION 4 */
.subscribe__infoText {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.socialMediaBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}
.socialItem {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.socialImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(200, 200, 200);
    border-radius: 50px;
}
.socialImg img {
    width: 60%;
    height: 60%;
}
.nameSocial {
    font-size: 16px;
    color: gray;
}
.linkToPage a {
    font-size: 17px;
    font-weight: 400;
}

/* FOOTER */
footer {
    max-width: 1310px;
    margin: 0 auto 30px auto;
}
.line {
    background-color: rgb(162, 162, 162);
    width: 100%;
    height: 1px;
    margin: 50px 0
}
.footer__container {
    max-width: 1310px;
    padding: 0 15px;
    display: flex;
    gap: 80px;
}
.touchText {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(128, 128, 128);
    font-weight: 300;
}
.numberFirst, .numberSecond {
    font-size: 20px;
    font-weight: 300;
}
.navFooter ul {
    display: flex;
    gap: 40px;
    font-size: 15px;
    margin-bottom: 20px;
}
.rightsReserved {
    font-size: 11px;
    color: gray;
}